<settings>
  <pluginGroups>
    <pluginGroup>org.jbehave</pluginGroup>
    <pluginGroup>org.sonatype.plugins</pluginGroup>
  </pluginGroups>
  <profiles>
    <profile>
      <!-- Required for dependencies of JBehave snapshots -->
      <id>sonatype</id>
      <activation>
        <activeByDefault>false</activeByDefault>
      </activation>
      <repositories>
        <repository>
          <id>sonatype-public-repository-group</id>
          <name>Sonatype Public Repository Group</name>
          <url>https://oss.sonatype.org/content/groups/public/</url>
          <layout>default</layout>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
          </snapshots>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>sonatype-public-repository-group</id>
          <name>Sonatype Public Repository Group</name>
          <url>https://oss.sonatype.org/content/groups/public/</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>
    <profile>
      <!-- Required for dependencies of Google module -->
      <id>atlassian</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <repositories>
        <repository>
          <id>atlassian</id>
          <url>https://maven.atlassian.com/content/groups/public/</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>atlassian</id>
          <url>https://maven.atlassian.com/content/groups/public/</url>
        </pluginRepository>
      </pluginRepositories>
    </profile>
    <profile>
      <!-- Required for dependencies of Jenkins module -->
      <id>jenkins</id>
      <activation>
        <activeByDefault>false</activeByDefault>
        <property>
          <name>hudson.version</name>
        </property>
      </activation>
      <repositories>
        <repository>
          <id>jenkins</id>
          <url>http://maven.jenkins-ci.org/content/repositories/releases/</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>jenkins</id>
          <url>http://maven.jenkins-ci.org/content/repositories/releases/</url>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>
</settings>
