<!doctype html>
<html lang="en" ng-app>
<head>
  <meta charset="utf-8">
  <title>JBehave Navigator</title>
  <link rel="stylesheet" href="style/navigator.css">
  <link rel="stylesheet" type="text/css" href="style/jquery-ui.css"/> 
  <script src="js/angular-1.0.2/angular.js"></script>
  <script src="js/navigator.js"></script>
  <script src="js/controllers.js"></script>
  <script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>
  <script type="text/javascript" src="js/jquery-ui-1.8.17.custom.min.js"></script>
  <script type="text/javascript" src="js/jquery-framedialog-1.1.2.js"></script>
</head>
<body ng-controller="StoriesController">

<div id="page-wrap">
  <div id="inside">
    <div id="header"> <a href="http://www.jbehave.org"><img src="images/jbehave-logo.png" alt="header"/></a> </div>
        <div id="main-content">
        <!--Body content-->
        <p>Search: <input ng-model="query"></p>
        <table>
           <thead>
              <th>Path</th><th>Description</th><th>Meta</th><th>Narrative</th><th>Duration</th>
           </thead>
           <tbody>
              <tr ng-repeat="performable in data.xref.stories | filter:query"
                            ng-click="showStory(performable)" title="Click to view the story details">
                <td>{{performable.story.path}}</td>
                <td>{{performable.story.description.descriptionAsString}}</td>
                <td> <p ng-repeat="property in performable.story.meta.properties">
                    {{property}}
                     </p>
                </td>
                <td>In Order To {{performable.story.narrative.inOrderTo}}<br/>
                    As a {{performable.story.narrative.asA}}<br/>
                    I Want To {{performable.story.narrative.iWantTo}}</td>
                <td>{{performable.timing.durationInMillis}}</td>
              </tr>
            </tbody>
        </table>        
      </div>
    </div>
  </div>
</div>
</body>
</html>
