<!doctype html>
<html lang="en" ng-app="navigator">
<head>
  <meta charset="utf-8">
  <title>JBehave Navigator</title>
  <link rel="stylesheet" href="style/navigator.css">
  <link rel="stylesheet" type="text/css" href="style/jquery-ui.css"/> 
  <script src="js/angular-1.0.2/angular.js"></script>
  <script src="js/navigator.js"></script>
  <script src="js/controllers.js"></script>
  <script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>
  <script type="text/javascript" src="js/jquery-ui-1.8.17.custom.min.js"></script>
  <script type="text/javascript" src="js/jquery-framedialog-1.1.2.js"></script>
  <script type="text/javascript">
    // jQuery tabs
    $(document).ready(function() {
        $("#tabs").tabs();
    });
</script>  
</head>
<body ng-controller="StoriesController">

<div id="page-wrap">
  <div id="inside">
    <div id="header"> <a href="http://www.jbehave.org"><img src="images/jbehave-logo.png" alt="header"/></a> </div>
        <div id="main-content">
          <div id="tabs">
	        <ul>
	          <li><a href="#tabs-1">Stories</a></li>
              <li><a href="#tabs-2">Scenarios</a></li>
	        </ul>
        
	        <!-- The Stories tab -->
	        <div id="tabs-1"> <span></span>
		        <p>Search: <input ng-model="query"/></p>
		        <table>
		           <thead>
		             <tr>
		               <th>Path</th><th>Description</th><th>Meta</th><th>Narrative</th><th>Duration</th>
		             </tr>
		           </thead>
		           <tbody>
		              <tr ng-repeat="performable in data.xref.stories | filter:query"
		                            ng-click="showStory(performable.story.path)" title="Click to view the story details">
		                <td>{{performable.story.path}}</td>
		                <td>{{performable.story.description.descriptionAsString}}</td>
		                <td> <p ng-repeat="property in performable.story.meta.properties">
		                    @{{property["@name"]}} {{property["@value"]}}
		                     </p>
		                </td>
		                <td>{{performable.localizedNarrative|newline_to_comma}}</td>
		                <td>{{performable.timing.durationInMillis}}</td>
		              </tr>
		            </tbody>
		        </table>        
	        </div>
	        <!-- The Scenario tab -->
            <div id="tabs-2"> <span></span>
                <p>Search: <input ng-model="query"/></p>
                <table>
                   <thead>
                     <tr>
                       <th>Title</th><th>Meta</th><th>Story</th>
                     </tr>
                   </thead>
                   <tbody>
                      <tr ng-repeat="performable in data.xref.scenarios | filter:query"
                                    ng-click="showStory(performable.storyPath)" title="Click to view the story details">
                        <td>{{performable.scenario.title}}</td>
                        <td> <p ng-repeat="property in performable.scenario.meta.properties">
                            @{{property["@name"]}} {{property["@value"]}}
                             </p>
                        </td>
                        <td>
                            {{performable.storyPath}}
                        </td>
                      </tr>
                    </tbody>
                </table>        
	        </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
