#banner {
  background: #fff url(../images/background-banner.png) repeat top left;
}

#banner img {
  padding: 4px 0 4px 20px;
}

#footer {
  width: 100%;
  background: #fff url(../images/background-footer.png) repeat;
  color: #fff;
  border: 1px solid;
  padding: 5px 0 5px 0;
  margin-top: 50px;
  font-size: 0.8em;
  position: fixed;
  bottom: 0;
}

#footer div.left {
  float: left;
}

#header {
  margin: 0 auto 0 auto;
  margin-left: 30px;
  margin-bottom: 40px;
}

body {
  margin: 0;
  font-family: "Lucida Grande", "Arial", "Helvetica", "Verdana", sans-serif;
  font-size: 0.84em;
  color: #555;
  text-align: left;
  padding: 0 0 10px 0;
  background-color: #fff;
}

h2 {
  background-color: #ffcd13;
  opacity: 0.75;
  margin-bottom: 10px;
  padding: 5px 10px;
}

body, td, select, input, li {
  font-size: 13px;
}

a {
  text-decoration: none;
}

a:link {
  color: #39912b;
  font-weight: bold;
}

a:visited {
  color: #39912b;
}

a:active, a:hover {
  color: #39912b;
}

b {
  color: #333;
}

.logo {
  float: right;
  margin-right: 30px;
}

.clear {
  clear: both;
}

.left {
  text-align: left;
  margin-left: 10px;
}

.right {
  text-align: right;
  margin-right: 10px;
}

.reports {
  margin-left: 30px;
  margin-top: 30px;
  text-align: left;
}

div.reports table {
  border: solid;
}

div.reports table th {
  text-align: center;
  font-weight: bold;
  padding: 10px;
}

div.reports table td {
  text-align: center;
  padding: 5px;
}

div.reports table td.story {
  text-align: left;
  padding: 5px;
}

.story {
  text-align: left;
  margin-left: 10px;
}

div.story h2 {
  background-color: #fff;
  border-color: #ffcd13;
}

.meta {
  text-align: left;
  color: purple; 
  margin-bottom: 10px;
}

div.keyword {
  margin-left: 10px;
}

.property {
  margin-left: 10px;
}

.narrative {
  text-align: left;
  color: blue; 
}

.element {
  padding-left: 10px;	
}

span.inOrderTo, span.asA, span.iWantTo {
  font-weight: bold;
}

.path, .givenScenarios {
  font-weight: bold;
  font-size: 16px;
  color: black;
  opacity: 0.75;
  margin-bottom: 10px;
  padding: 5px 10px;
}

.scenario {
  text-align: left;
  padding-left: 1px;
}

.step {
  color: black;
  padding-left: 10px;
}

.successful {
  color: green;
}

.ignorable {
  color: blue;
}

.pending {
  color: olive;
}

.notPerformed {
  color: brown;
}

.failed {
  color: red;
}

.dryRun {
  border: solid;
  color: amber;
  background-color: yellow;
  margin-left: 12px;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  text-weight: bold;
}

.parameter {
  color: purple;
  padding-left: 0px;
  text-weight: bold;
}

.keyword {
  text-weight: bold;
}

div.examples table {
  border: solid;
  margin-top: 12px;
  margin-left: 12px;
}

div.examples table th {
  text-align: center;
  font-weight: bold;
}

div.examples table td {
  text-align: center;
}

div.examples {
  padding-bottom: 20px;
}

div.outcomes table {
  border: solid;
  margin-top: 12px;
  margin-left: 12px;
}

div.outcomes table th {
  text-align: center;
  font-weight: bold;
}

div.outcomes table tr.notVerified {
  color: red;
}

div.outcomes table tr.verified {
  color: green;
}

div.outcomes table td {
  text-align: center;
}

div.outcomes {
  padding-bottom: 20px;
}

pre.failure {
  padding-left: 10px;	
  color: red;
}