* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 62.5%;
	background: url(images/stripe.png) repeat;
}


p, li {
	font: 1.2em/1.8em Tahoma, sans-serif;
	color: #999991;
	margin-bottom: 10px;
}

a {
	color: #3199ee;
	text-decoration:none;
} 
a:hover {color:#fa0;}
a img{border: 0;}

h1 {
	font: 2.0em Tahoma, sans-serif;
	color: white;
	height: 0px;
}

h2 {
	font: 1.8em Tahoma, sans-serif;
	color: white;
	margin-bottom: 10px;
}

ul {
	margin-left: 25px;
}

img {
	border: none;
}

th {
	font: 1.8em Tahoma, sans-serif;
	color: white;
	margin-bottom: 10px;
}

td {
	font: 1.2em/1.8em Tahoma, sans-serif;
	color: #999991;
}

#page-wrap {
	background: black;
	min-width: 780px;
	max-width: 1260px;
	margin: 10px auto;
	}
	#page-wrap #inside {
		background: black;
		margin: 10px 10px 0px 10px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	
#main-content {
	background: #303030;
	margin: 10px 0px 10px 0px;
}
	
#header {
	background: #FFAA00;
	text-align: left;
}
	
#left-sidebar {
	width: 150px;
	float: left;
	padding-left: 15px;
	padding-top: 20px;
}

.title{
	background: #000000;
	height:42px;
	margin:5px 0;
}
.title h2{float:left;margin: 12px 0 0 0;font-size:14px;color:#fff}
.title div{padding: 11px 0 0 0;}
.title .first{margin-left:7px;}
.w500{width:500px;}.w40{width:40px;}.w30{width:30px;}.w55{width:55px;}.w40{width:40px;}.w70{width:70px;}.w90{width:90px;}.w100{width:100px;}.w110{width:110px;}.w140{width:160px;}.w120{width:120px;}.w170{width:170px;}.w200{width:200px;}.w320{width:320px;}.w380{width:380px;}.w575{width:575px;}
.title .full{width:786px;text-align:center}
.title #jump{margin:12px 15px 0 0;padding:0}

#footer {
	background: #FFAA00;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 10px;
	color: white;
}